body{
    font-size: 16px;
    color: black;
}
h1{
    font-size: 48px;
    color: #2e7ad3;
    text-align: center;
    margin: 45px 0;
}
h2{
    font-size: 32px;
    color: #104c90;
    margin: 0 0 10px;
}
.card{
    width: 450px;
    padding: 25px;
    margin: 0 auto;
    border: 3px solid rgb(241, 240, 234);
    background-color: #f1f1f1;
}
.read-more{
    margin: 0;
}
a:link{
    color: #ff8000;
    font-weight: 700;
}
a:hover,
a:focus{
    color: #2e7ad3;
    border: 1px solid #ff8000;
}
.blog-img{
    width: 450px;
}
a:visited{
    color: #104c90;
}
a:active{
    color: darkmagenta;
}