body{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'poppins';
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 10px;
}
.container{
    width: 650px;
    margin: auto;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
    margin-top: 5px;
}

img {
    width: 70%;
    border-radius: 10%;
}


input {
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}
.newsletter{
    margin-right: 0;
}
