*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.logo-img{
    display: block;
    width: 300px;
    margin: 0 auto;
}
.search-box{
    display: block;
    width: 400px;
    line-height: 24px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin: 25px auto;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;   
    box-shadow: 0px 0px 0.5px grey;
}
.search-box:hover{
    box-shadow: 0px 0px 5px grey;
    border: none;
    outline: none;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.btn{
    border: 1px solid;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
}
a:hover{
    color: aliceblue;
    background-color: grey;
}