*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}
body{
  width: 550px;
  margin: 0 auto;
  /* height: 100vh; */
  background-color: #282D35;
  letter-spacing: -0.05em;
}
.navbar{
  background-color: #21222A;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}
.nav--left{
  display: flex;
  align-items: center;
}
.nav--title{
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  color: #61DAFB;
  letter-spacing: -0.05em;
}
.nav--logo{
  margin: 0;
  margin-right: 7px;
  width: 27px;
  height: 25px;
}
.nav--right{
  margin: 0;
  font-size: 16px;
  color: #deebf8;
  line-height: 19px;
  font-weight: 600;
  margin-top: 6px;
}
main{
  background-color: #282D35;
  padding: 57px 27px;
  background-image: url(./components/icon-bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 75%;
}
.main--title{
  margin: 0;
  font-size: 40px;
  line-height: 47px;
}
.main--facts{
  margin-top: 46px;
  max-width: 400px;
}
.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
.main--facts > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}