*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    width: 650px;
    margin: auto;
    background-color: aliceblue;
}

li{
    list-style-type: none;
}

img {
    margin-top: 50px;
    width: 300px;
    border-radius: 10%;
}

a {
    color: var(--text);
}

input {
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}


button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}
.newsletter{
    margin-right: 0;
}
