<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floats</title>
    <link rel="stylesheet" href="floats.css">
</head>
<body>
    <h1 class="main-heading">
        Trying out the floats in the layout.
    </h1>
    <div class="column">
        <div class="column1">
            <h2 class="colum1-heading">Column - 1</h2>
            <p class="column1-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit obcaecati officia, quasi eaque assumenda autem porro voluptatum enim odio consectetur, incidunt cupiditate architecto iure, aspernatur fuga laudantium tenetur harum nisi!
            </p>
        </div>
        <div class="column2">
            <h2 class="column2-heading">Column - 2</h2>
            <p class="column2-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quam, aut porro tempora odit provident autem, ad nesciunt laboriosam om
            </p>
        </div>
    </div>
    
</body>
</html>