body{
    background-color: grey;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.column{
    width: 90%;
    text-align: center;
}


.column1{
    width: 48%;
    float: left;
}

.column2{
    width: 48%;
    float:right;
}
