.card{
    width: 500px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 2px solid cyan;
    padding: 1rem;
}
h1{
    margin-top: 0;
}
.button{
    background-color: #ffe600;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    text-decoration: none;
}
.button:hover,.button:active{
    background-color: #f6950cf4;
}
a{
    text-decoration: none;
}