body {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 15vh;
}
p {
  font-size: 5vh;
  font-style: italic;
  text-decoration: underline;
  font-family: cursive;
}
